* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #cce6f4;
  text-align: center;
}

/* Color CheatSheet:
*Black coffee: 3A2E39
Midinight Green: 1E555C
*Unbleached silk: F4D8CD
Middle yellow red: EDB183
*Red salsa: F15152

Columbia blue: CCE6F4
Maximum Blue: 4BA3C3
Blue sapphire: 175676
Bright maroon: AE2D47
Crimson: D62839
Cultured: F9F8F8 - items bcgr
Viridian green: 119DA4 - item border
*/

a {
  text-emphasis: none;
}
